wsdl_interfaces/resources/flightFinder.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><xs:schema xmlns:tns="http://choreos.eu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://choreos.eu/">

<xs:element name="getFlightInfo" type="tns:getFlightInfo"></xs:element>

<xs:element name="getFlightInfoResponse" type="tns:getFlightInfoResponse"></xs:element>

<xs:complexType name="getFlightInfo">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightInfoResponse">
<xs:sequence>
<xs:element name="flightInformation" type="tns:flightInfo" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightInfo">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>